    **Dhanya Jayan**
    Acharya Institute of Technology
    M.Tech DataScience lab programming (VTU)

    Split the Iris dataset into two the datasets - IrisTest_TrainData.csv, IrisTest_TestData.csv. Read them as two separate data frames named Train_Data and Test_Data respectively.

    Answer the following questions:

    1. How many missing values are there in Train_Data?

    2. What is the proportion of Setosa types in the Test_Data?

    3. What is the accuracy score of the K-Nearest Neighbor model (model_1) with 2/3 neighbors using Train_Data and Test_Data?

    4. Identify the list of indices of misclassified samples from the ‘model_1’.
    
    5. Build a logistic regression model (model_2) keeping the modelling steps constant. Find the accuracy of the model_2?

In [ ]:
# Split the Iris dataset into two the datasets - IrisTest_TrainData.csv, IrisTest_TestData.csv.
# Read them as two separate data frames named Train_Data and Test_Data respectively.
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import  accuracy_score

In [ ]:
# Read DataFrame
names=[ "sepal_length", "sepal_width", "petal_length", "petal_width", "Class"]
IrisTest=pd.read_csv("iris.csv", names=names)
IrisTest

     sepal_length  sepal_width  petal_length  petal_width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
IrisTest.shape

(150, 5)

In [ ]:
# no of csv files with row size
k = 2
row_size = 75

In [ ]:
for i in range(k):
    df = IrisTest[row_size*i:row_size*(i+1)]
    if (i==1):
        j='TrainData';
    else:
        j='TestData';
    df.to_csv(f'IrisData_{j}.csv', index=False)

In [ ]:
Train_Data= pd.read_csv("IrisData_TrainData.csv")
Train_Data

    sepal_length  sepal_width  petal_length  petal_width            Class
0            6.6          3.0           4.4          1.4  Iris-versicolor
1            6.8          2.8           4.8          1.4  Iris-versicolor
2            6.7          3.0           5.0          1.7  Iris-versicolor
3            6.0          2.9           4.5          1.5  Iris-versicolor
4            5.7          2.6           3.5          1.0  Iris-versicolor
..           ...          ...           ...          ...              ...
70           6.7          3.0           5.2          2.3   Iris-virginica
71           6.3          2.5           5.0          1.9   Iris-virginica
72           6.5          3.0           5.2          2.0   Iris-virginica
73           6.2          3.4           5.4          2.3   Iris-virginica
74           5.9          3.0           5.1          1.8   Iris-virginica

[75 rows x 5 columns]

In [ ]:
Test_Data = pd.read_csv("IrisData_TestData.csv")
Test_Data

    sepal_length  sepal_width  petal_length  petal_width            Class
0            5.1          3.5           1.4          0.2      Iris-setosa
1            4.9          3.0           1.4          0.2      Iris-setosa
2            4.7          3.2           1.3          0.2      Iris-setosa
3            4.6          3.1           1.5          0.2      Iris-setosa
4            5.0          3.6           1.4          0.2      Iris-setosa
..           ...          ...           ...          ...              ...
70           5.9          3.2           4.8          1.8  Iris-versicolor
71           6.1          2.8           4.0          1.3  Iris-versicolor
72           6.3          2.5           4.9          1.5  Iris-versicolor
73           6.1          2.8           4.7          1.2  Iris-versicolor
74           6.4          2.9           4.3          1.3  Iris-versicolor

[75 rows x 5 columns]

#### 1. How many missing values are there in Train_Data?

In [ ]:
Train_Data.isnull().sum() #No missing values.

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
Class           0
dtype: int64

        NO missing values are there in Train_Data

#### 2. What is the proportion of Setosa types in the Test_Data?

In [ ]:
print("The proportion of class types in the test_data",Test_Data['Class'].unique())
print(round(Test_Data["Class"].value_counts(normalize=True),2)*100)

The proportion of class types in the test_data ['Iris-setosa' 'Iris-versicolor']
Iris-setosa        67.0
Iris-versicolor    33.0
Name: Class, dtype: float64

     67 % of Setosa types in the Test_Data

#### 3. What is the accuracy score of the K-Nearest Neighbor model (model_1) with 2/3 neighbors using Train_Data and Test_Data?

In [ ]:
X_Train = Train_Data.iloc[:, :-1].values   # Train_Data independent variable (sepal_length	sepal_width	petal_length	petal_width)
Y_Train = Train_Data.iloc[:, 4].values  # Train_Data target variable(Class)

In [ ]:
knn_model_1 = KNeighborsClassifier(n_neighbors=2)  # Training the model using Train_Data
knn_model_1.fit(X_Train, Y_Train)

KNeighborsClassifier(n_neighbors=2)

In [ ]:
# Test the model using Test_Data
X_Test= Test_Data.iloc[:, :-1].values  # Test_Data independent variable(sepal_length	sepal_width	petal_length	petal_width)
Y_Test = Test_Data.iloc[:, 4].values  # Test_Data target variable (class)

In [ ]:
y_pred = knn_model_1.predict(X_Test) # testing the model using Test_Data

In [ ]:
accuracy_knn_model_1=accuracy_score(Y_Test, y_pred) #Testing accuracy
accuracy_knn_model_1

0.30666666666666664

#### 4. Identify the list of indices of misclassified samples from the ‘model_1’

In [ ]:
y_test_ = np.asarray(Y_Test)
misclassified = np.where(y_test_ != knn_model_1.predict(X_Test))
misclassified

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 70,
        72], dtype=int64),)

#### 5. Build a logistic regression model (model_2) keeping the modelling steps constant. Find the accuracy of the model_2

In [ ]:
#Train the model
model_2 = LogisticRegression()
model_2.fit(X_Train,Y_Train) #Training the model

LogisticRegression()

In [ ]:
#Test the model
predictions = model_2.predict(X_Test)

In [ ]:
accuracy_model_2=accuracy_score(Y_Test, predictions) #Training accuracy
accuracy_model_2

0.29333333333333333